@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<div class="alert alert-info">
    <div class="row">
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-lg-11">
            <p>Add missing feature details below.</p>
            <p>Click <strong>'OK'</strong> to continue.</p>
        </div>
    </div>
</div>

@Html.Partial("_ImportActionHeader", Model)

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">New Feature Details</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4">Feature Group:</label>
                <div class="col-sm-8">
                    <button id="@(Model.IdentifierPrefix)_SelectFeatureGroup" type="button" class="btn btn-sm btn-default dropdown-toggle col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span id="@(Model.IdentifierPrefix)_SelectedFeatureGroup">
                        @if (string.IsNullOrEmpty(Model.CurrentFeatureGroup))
                        {
                            @:Select Feature Group
                            }
                        else
                        {
                            <span>@Model.CurrentFeatureGroup</span>
                        }
                    </span>
                    <span class="caret"></span>
                    </button>
                    <ul id="@(Model.IdentifierPrefix)_FeatureGroupList" class="dropdown-menu">
                        @foreach (var featureGroup in Model.FeatureGroups)
                        {
                            <li><a class="feature-group-item" href="#" data-target="@featureGroup">@featureGroup</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Feature Sub-Group:</label>
                <div class="col-sm-8">
                    <button id="@(Model.IdentifierPrefix)_SelectFeatureSubGroup" type="button" class="btn btn-sm btn-default dropdown-toggle col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="@(Model.IdentifierPrefix)_SelectedFeatureSubGroup">
                            @if (Model.CurrentFeatureSubGroup is EmptyFeatureGroup)
                            {
                                @:Select Feature Sub-Group
                            }
                            else
                            {
                                <span>@Model.CurrentFeatureSubGroup.FeatureSubGroup</span>
                            }
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul id="@(Model.IdentifierPrefix)_FeatureSubGroupList" class="dropdown-menu">
                        @foreach (var featureSubGroup in Model.FeatureSubGroups)
                        {
                            <li><a class="feature-sub-group-item" href="#" data-filter="@featureSubGroup.FeatureGroupName" data-target="@featureSubGroup.GroupId" data-content="@featureSubGroup.FeatureSubGroup">@featureSubGroup.FeatureSubGroup</a></li>
                        }
                    </ul>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Description:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control col-sm-12" id="@(Model.IdentifierPrefix)_FeatureDescription" placeholder="Enter description" value="@Model.CurrentException.ImportFeature">
                </div>
            </div>
        </form>
    </div>
</div>