@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<div class="alert alert-info">
    <div class="row">
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-lg-11">
            <p>Map the imported feature code to a special feature.</p>
            <p>Special features typically contain additional volume information for derivatives.</p>
            <p>Click <strong>'OK'</strong> to continue.</p>
        </div>
    </div>
</div>

@Html.Partial("_ImportActionHeader", Model)

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Special Feature</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="@(Model.IdentifierPrefix)_SelectSpecialFeature">Special Feature:</label>
                <div class="col-sm-8">
                    <button id="@(Model.IdentifierPrefix)_SelectSpecialFeature" type="button" class="btn btn-sm btn-default dropdown-toggle col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="@(Model.IdentifierPrefix)_SelectedSpecialFeature">Select Special Feature</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="@(Model.IdentifierPrefix)_SpecialFeatureList" class="dropdown-menu">
                        @foreach (var specialFeature in Model.AvailableSpecialFeatures)
                        {
                            <li><a class="special-feature-item" href="#" data-target="@specialFeature.FdpSpecialFeatureTypeId" data-content="@specialFeature.Description">@specialFeature.Description</a></li>
                        }
                    </ul>
                </div>
            </div>
            
        </form>
    </div>
</div>

