@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingMarket)
{
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.MapMissingMarket)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-flag pull-left"></span> Map '@Model.CurrentException.ImportMarket' to OXO market
        </a>
    </li>
}

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingDerivative)
{
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.AddMissingDerivative)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-plus pull-left"></span> Add new derivative '@Model.CurrentException.ImportDerivativeCode'
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.MapMissingDerivative)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-link pull-left"></span> Map '@Model.CurrentException.ImportDerivativeCode' to existing OXO derivative
        </a>
    </li>
}

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingFeature)
{
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.AddMissingFeature)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-plus pull-left"></span> Add new feature '@Model.CurrentException.ImportFeatureCode'
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.MapMissingFeature)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-link pull-left"></span> Map '@Model.CurrentException.ImportFeatureCode' to existing OXO feature
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.AddSpecialFeature)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-asterisk pull-left"></span> Add Special Feature '@Model.CurrentException.ImportFeatureCode'
        </a>
    </li>
}

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingTrim)
{
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.AddMissingTrim)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-plus pull-left"></span> Add new trim '@Model.CurrentException.ImportTrim'
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.MapMissingTrim)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-link pull-left"></span> Map '@Model.CurrentException.ImportTrim' to existing OXO trim
        </a>
    </li>
}

<li class="divider"></li>
<li>
    <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.IgnoreException)" data-content="@Model.CurrentException.ErrorMessage">
        <span class="glyphicon glyphicon-remove pull-left"></span> Ignore Error
    </a>
</li>
