@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingMarket)
{
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.MapMissingMarket)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-flag pull-left"></span> Map '@Model.CurrentException.ImportMarket' to OXO market...
        </a>
    </li>
}

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingDerivative)
{
    if (Model.CurrentException.SubType == enums.ImportExceptionType.NoBmc)
    {
        <li>
            <a href="@Url.Action("BMCPage", "DerivativeMapping", new { DocumentId = Model.CurrentException.DocumentId })">
                <span class="glyphicon glyphicon-pencil pull-left"></span> Edit Brochure Model Codes...
            </a>
        </li>
    }

    if (Model.CurrentException.SubType == enums.ImportExceptionType.NoHistoricDerivative)
    {
        <li>
            <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int) enums.ImportAction.MapOxoDerivative)" data-content="@Model.CurrentException.ErrorMessage">
                <span class="glyphicon glyphicon-link pull-left"></span> Map '@Model.CurrentException.AdditionalData' to historic Brochure Model Code(s)...
            </a>
        </li>
    }

    if (Model.CurrentException.SubType == enums.ImportExceptionType.NoOxoDerivative)
    {
        <li>
            <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int) enums.ImportAction.MapMissingDerivative)" data-content="@Model.CurrentException.ErrorMessage">
                <span class="glyphicon glyphicon-link pull-left"></span> Map '@Model.CurrentException.AdditionalData' to existing OXO Brochure Model Code...
            </a>
        </li>
    }
}

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingFeature)
{
    @*<li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.AddMissingFeature)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-plus pull-left"></span> Add new feature '@Model.CurrentException.ImportFeatureCode'...
        </a>
    </li>*@
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.MapMissingFeature)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-link pull-left"></span> Map '@Model.CurrentException.ImportFeatureCode' to existing OXO feature...
        </a>
    </li>
    <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.AddSpecialFeature)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-asterisk pull-left"></span> Add Special Feature '@Model.CurrentException.ImportFeatureCode'...
        </a>
    </li>
}

@if (Model.CurrentException.ErrorType == enums.ImportExceptionType.MissingTrim)
{
    if (Model.CurrentException.SubType == enums.ImportExceptionType.NoDpck)
    {
        <li>
            <a href="@Url.Action("DPCKPage", "TrimMapping", new { DocumentId = Model.CurrentException.DocumentId })">
                <span class="glyphicon glyphicon-pencil pull-left"></span> Edit DPCK Codes...
            </a>
        </li>
    }

    if (Model.CurrentException.SubType == enums.ImportExceptionType.NoHistoricTrim)
    {
        <li>
            <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int) enums.ImportAction.MapOxoTrim)" data-content="@Model.CurrentException.ErrorMessage">
                <span class="glyphicon glyphicon-link pull-left"></span> Map OXO DPCK '@Model.CurrentException.AdditionalData' to historic trim level(s)...
            </a>
        </li>
    }

    if (Model.CurrentException.SubType == enums.ImportExceptionType.NoOxoTrim)
    {
        <li>
        <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.MapMissingTrim)" data-content="@Model.CurrentException.ErrorMessage">
            <span class="glyphicon glyphicon-link pull-left"></span> Map historic trim level '@Model.CurrentException.ImportTrim' to existing OXO DPCK...
        </a>
    </li>
    }


}

<li class="divider"></li>
<li>
    <a tabindex="-1" href="#" data-target="@Model.CurrentException.FdpImportErrorId" data-role="@((int)enums.ImportAction.IgnoreException)" data-content="@Model.CurrentException.ErrorMessage">
        <span class="glyphicon glyphicon-remove pull-left"></span> Ignore Error...
    </a>
</li>
