@using enums = FeatureDemandPlanning.Model.Enumerations
@using FeatureDemandPlanning.Model.Extensions

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

@Html.Partial("_ImportActionHeader", Model)

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Mapping</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group" style="display:none">
                <label class="control-label col-xs-4" for="@(Model.IdentifierPrefix)_SelectDerivative">Derivative:</label>
                <div class="col-xs-8">
                    <button id="@(Model.IdentifierPrefix)_SelectDerivative" type="button" class="btn btn-sm btn-default dropdown-toggle col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="@(Model.IdentifierPrefix)_SelectedDerivative">Select Derivative</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="@(Model.IdentifierPrefix)_DerivativeList" class="dropdown-menu">
                        @foreach (var derivative in Model.AvailableDerivatives)
                        {
                            <li><a class="derivative-item" href="#" data-target="@derivative.DerivativeCode" data-content="@derivative.Name">@derivative.Name</a></li>
                        }
                    </ul>
                </div>
                <input type="hidden" id="@(Model.IdentifierPrefix)_InitialSelectedDerivative" value="@Model.CurrentException.ImportDerivativeCode"/>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4" for="@(Model.IdentifierPrefix)_SelectTrim">Trim:</label>
                <div class="col-xs-8">
                    <button id="@(Model.IdentifierPrefix)_SelectTrim" type="button" class="btn btn-sm btn-default dropdown-toggle col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="@(Model.IdentifierPrefix)_SelectedTrim">Select Trim</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="@(Model.IdentifierPrefix)_TrimList" class="dropdown-menu">
                        @foreach (var trim in Model.AvailableTrim)
                        {
                            <li><a class="trim-item" href="#" data-target="@trim.GetIdentifierString()" data-content="@trim.Name (@trim.Level - @trim.DPCK)">@trim.Name (@trim.Level - @trim.DPCK)</a></li>
                        }
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>