@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<div class="alert alert-info">
    <div class="row">
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-lg-11">
            <p>Map OXO derivative code to historic data.</p>
            <p>Click <strong>'OK'</strong> to continue.</p>
        </div>
    </div>
</div>

@Html.Partial("_ImportActionHeader", Model)

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Mapping</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="@(Model.IdentifierPrefix)_SelectDerivative">Historic Derivative:</label>
                <div class="col-sm-8">
                    <button id="@(Model.IdentifierPrefix)_SelectDerivative" type="button" class="btn btn-sm btn-default dropdown-toggle col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="@(Model.IdentifierPrefix)_SelectedDerivative">Select Derivative</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="@(Model.IdentifierPrefix)_DerivativeList" class="dropdown-menu">
                        @foreach (var derivative in Model.AvailableImportDerivatives)
                        {
                            <li><a class="derivative-item" href="#" data-target="@derivative.Identifier" data-content="@derivative.Name">@derivative.Identifier</a></li>
                        }
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

