@using FeatureDemandPlanning.BusinessObjects
@using enums = FeatureDemandPlanning.Enumerations

@model FeatureDemandPlanning.Models.ImportViewModel

@Html.Partial("_ImportActionHeader", Model)

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Mapping</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label for="ddlBody" class="control-label col-xs-2 text-right">Body:</label>
                <div class="col-xs-10">
                    <select id="ddlBody" class="form-control">
                        <option value="">-- SELECT --</option>
                        @foreach (var body in Model.AvailableBodies)
                        {
                            <option value="@body.Id">@body.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="ddlEngine" class="control-label col-xs-2 text-right">Engine:</label>
                <div class="col-xs-10">
                    <select id="ddlEngine" class="form-control">
                        <option value="">-- SELECT --</option>
                        @foreach (var engine in Model.AvailableEngines)
                        {
                            <option value="@engine.Id">@engine.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="ddlTransmission" class="control-label col-xs-2 text-right">Transmission:</label>
                <div class="col-xs-10">
                    <select id="ddlTransmission" class="form-control">
                        <option value="">-- SELECT --</option>
                        @foreach (var transmission in Model.AvailableTransmissions)
                        {
                            <option value="@transmission.Id">@transmission.Name</option>
                        }
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

