@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<div class="alert alert-info">
    <div class="row">
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-lg-11">
            <p>Map imported feature code to an existing OXO feature.</p>
            <p>Click <strong>'OK'</strong> to continue.</p>
        </div>
    </div>
</div>

@Html.Partial("_ImportActionHeader", Model)

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Mapping</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <div class="col-lg-12">
                    <button id="@(Model.IdentifierPrefix)_SelectFeatureCode" type="button" class="btn btn-sm btn-default dropdown-toggle col-lg-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="@(Model.IdentifierPrefix)_SelectedFeature">
                            @if (Model.CurrentFeature is EmptyFeature)
                        {
                                @:Select Feature
                        }
                        else
                        {
                                <span>@string.Format("{0} - {1}", Model.CurrentFeature.FeatureCode, Model.CurrentFeature.BrandDescription)</span>
                        }
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul id="@(Model.IdentifierPrefix)_FeatureList" class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">OPTION PACKS</a>
                            <ul class="dropdown-menu">
                                @foreach (var feature in Model.Features.Where(f => f.FeatureGroup.Equals("OPTION PACKS")))
                                {
                                    <li><a class="feature-item" href="#" data-target="@feature.FeatureCode" data-content="@FeatureDescription(feature)">@FeatureDescription(feature)</a></li>
                                }
                            </ul>
                        </li>
                        <li class="divider"></li>
                        @foreach (var featureGroup in Model.FeatureGroups.Where(g => !g.Equals("UNASSIGNED") && !g.Equals("OPTION PACKS")))
                        {
                            <li class="dropdown dropdown-submenu">
                                <a href="#">@featureGroup</a>
                                <ul class="dropdown-menu">

                                    @foreach (var featureSubGroup in Model.FeatureSubGroups
                                        .Where(g =>
                                            g.FeatureGroupName.Equals(featureGroup, StringComparison.InvariantCultureIgnoreCase) &&
                                            !string.IsNullOrEmpty(g.FeatureSubGroup)
                                        ))
                                    {
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#">@featureSubGroup.FeatureSubGroup</a>
                                            <ul class="dropdown-menu">
                                                @foreach (var feature in Model.Features
                                                    .Where(f =>
                                                        f.FeatureGroup.Equals(featureGroup) &&
                                                        f.FeatureSubGroup != null &&
                                                        f.FeatureSubGroup.Equals(featureSubGroup.FeatureSubGroup)))
                                                {
                                                    <li><a class="feature-item" href="#" data-target="@feature.FeatureCode" data-content="@FeatureDescription(feature)">@FeatureDescription(feature)</a></li>
                                                }

                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="#">UNASSIGNED</a>
                            <ul class="dropdown-menu">
                                @foreach (var feature in Model.Features.Where(f => f.FeatureGroup.Equals("UNASSIGNED")))
                                {
                                    <li><a class="feature-item" href="#" data-target="@feature.FeatureCode" data-content="@FeatureDescription(feature)">@FeatureDescription(feature)</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

@helper FeatureDescription(Feature feature)
{
    var description = string.Format("{0} - {1}", feature.FeatureCode, feature.BrandDescription);
    @description
}

