@using FeatureDemandPlanning.Model
@using FeatureDemandPlanning.Model.Extensions
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel
@section PageScripts
{
    @Html.Partial("_Scripts", Model)
}

@section PageContentHeader
{
    <div class="row">
        <div class="col-lg-5 inverse" style="padding-top: 20px">
            <div class="panel panel-primary" style="height:160px;background-color: rgba(18, 7, 59, 0.75);">
                <div class="panel-body" style="background:none !important">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="~/Content/Images/Icons/import64.png" style="margin-top:15px" />
                        </div>
                        <div class="col-lg-10">
                            <h3 style="margin-top:5px">Import Exception Work Tray</h3>
                            <h4 id="lblVehicleDescription">@Model.Programme.GetDisplayString() (@Model.Gateway)</h4>

                            <p class="page-description">View the exception information for the selected import and take action as appropriate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pull-right" style="padding-top: 20px">
            <div class="panel panel-primary" style="margin-bottom: 0px;height:160px">
                <div class="panel-heading" style="padding:3px 15px"><div class="panel-title" style="font-size:14px">Filter</div></div>
                <div class="panel-body" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px">
                    <div class="form-group form-group-sm">
                        <label for="ddlExceptionType" class="form-label inverse" style="font-size:11px">Error Type:</label>
                        <select id="ddlExceptionType" class="form-control">
                            <option value="0">All</option>
                            @foreach (var availableExceptionType in Model.AvailableExceptionTypes)
                            {
                                <option value="@((int)availableExceptionType.ExceptionType))">@availableExceptionType.Type</option>
                            }
                        </select>
                        <label for="txtFilterMessage" class="form-label inverse" style="font-size:11px">Message:</label>
                    <input type="text" id="txtFilterMessage" class="form-control" />    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pull-right" style="padding-top: 20px">
            <div id="dvImportSummary" class="panel panel-primary subscribers-notify" style="margin-bottom: 0px;height:160px">
                <div class="panel-heading" style="padding:3px 15px"><div class="panel-title" style="font-size:14px">Exception Summary</div></div>
                <div class="panel-body" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px">
                    <table class="table table-bordered table-condensed dataTable table-striped" style="font-size:11px">
                        <tbody>
                            <tr>
                                <td>Lines Imported:</td>
                                <td><span id="spnLinesImported">-</span></td>
                            </tr>
                            <tr>
                                <td>Lines Failed:</td>
                                <td><span id="spnLinesFailed">-</span></td>
                            </tr>
                            <tr>
                                <td>Total Lines:</td>
                                <td><span id="spnTotalRows">-</span></td>
                            </tr>
                            <tr>
                                <td>Import Filename:</td>
                                <td>@System.IO.Path.GetFileName(Model.CurrentImport.OriginalFileName)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section PageBody
{
    <div id="dvFilter" class="subscribers-notifyFilterComplete"></div>
    <ul id="contextMenu" class="dropdown-menu context-menu" role="menu" style="display:none">
    </ul>
     
    <div id="notifier" class="subscribers-notify col-lg-12" style="float:unset"></div>

    @Html.Partial("_Modal", Model)

    <div id="pnlImportExceptions" class="panel panel-primary" style="display:none;">
        <div class="panel-heading">
            <div class="panel-title"><span id="spnFilteredRecords" class="subscribers-notifyResults"></span> Import Exceptions</div>
        </div>
        <div class="panel-body">
            <table id="tblImportExceptions" class="table table-bordered table-condensed table-striped dataTable">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-left col-lg-1">Line #</th>
                        <th class="text-left col-lg-2">Error Type</th>
                        <th class="col-lg-5">Message</th>
                        <th class="text-center col-lg-2">Error On</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

}



