@using FeatureDemandPlanning.Model.Extensions
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel
@section PageScripts
{
    @Html.Partial("_Scripts", Model)
}

@section PageContentHeader
{
    <form>
        <input id="Page_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
    </form>
    <div class="row">
        <div class="col-lg-5 inverse" style="padding-top: 20px">
            <div class="panel panel-primary" style="height:160px; background-color: #12073b; background-color: rgba(18, 7, 59, 0.75);">
                <div class="panel-body" style="background:none !important">
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <img src="~/Content/Images/Icons/import64.png" style="margin-top: 15px"/>
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 style="margin-top: 5px">Import Exception Work Tray</h3>
                                    <h4 id="lblVehicleDescription">@Model.Programme.GetDisplayString() (@Model.Gateway)</h4>
                                </div>
                            </div>
                            <div class="row vertical-spacer" style="margin-top:20px">
                                <div class="col-xs-6 vertical-align">
                                    <p class="page-description">View exception information for the selected import</p>
                                </div>
                                <div class="col-xs-6 vertical-align">
                                    <a href="@Url.Action("RefreshWorktray", new {ImportId = Model.CurrentImport.ImportId, ImportQueueId = Model.CurrentImport.ImportQueueId})" class="btn btn-primary center-block">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                        Refresh Worktray
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 pull-right" style="padding-top: 20px" id="@(Model.IdentifierPrefix)_Filter">
            @Html.Partial("_Filter", Model)
        </div>
        <div class="col-lg-4 pull-right" style="padding-top: 20px" id="@(Model.IdentifierPrefix)_ImportSummary">
            @Html.Partial("_ImportSummary", Model)
        </div>
    </div>
}

@section PageBody
{
    <div id="dvFilter" class="subscribers-notifyFilterComplete"></div>
    <ul id="contextMenu" class="dropdown-menu context-menu" role="menu" style="display:none"></ul>

    <div id="notifier" class="subscribers-notify col-lg-12" style="float:none"></div>

    @Html.Partial("_Modal", Model)

    <div id="pnlImportExceptions" class="panel panel-primary" style="display:none;">
        <div class="panel-heading" style="height:38px">
            <h3 class="panel-title results-paging pull-right"></h3>
            <h3 class="panel-title results-total pull-left">Import Exceptions</h3>
        </div>
        <div class="panel-body">
            <table id="tblImportExceptions" class="table table-bordered table-condensed table-striped dataTable">
                <thead>
                <tr>
                    <th class="text-center"><input type="checkbox" id="@(Model.IdentifierPrefix)_SelectAll"/></th>
                    <th class="text-left col-lg-1">Line #</th>
                    <th class="text-left col-lg-2">Error Type</th>
                    <th class="col-lg-5">Message</th>
                    <th class="text-center col-lg-2">Error On</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th class="text-center">
                            <button id="@(Model.IdentifierPrefix)_IgnoreAll" class="btn btn-default btn-sm" disabled="disabled">Ignore Selected</button>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

}



