@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ForecastComparisonViewModel

<div class="col-lg-12" data-index="1">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <div class="panel-title">Comparison Vehicles</div>

        </div>

        <div class="panel-body">

            @{
                int i = 0;
                foreach (var comparisonVehicle in Model.Forecast.ComparisonVehicles)
                {
                    <div class="row form-group subscribers-notifyVehicle subscribers-notifyValidation vehicle-filter" data-index="@(i+1)" data-val="ComparisonVehiclesToValidate[@(i)].ComparisonVehicle">

                        <div class="col-lg-5 col-lg-offset-1">
                            @Html.DropDownListFor(m => comparisonVehicle.Make, Model.ComparisonVehicleLookup[i].Makes,
                                new {
                                    @id = "ddlComparisonMakes" + i.ToString(),
                                    @class = "form-control subscribers-notifyMakes vehicle-filter vehicle-filter-make",
                                    @style = "display:none",
                                    @data_index = (i + 1).ToString()
                                })

                            <label class="control-label inverse" for="ddlComparisonProgramme@(i)">Comparison Vehicle #@(i+1)</label>
                            @Html.DropDownListFor(m => comparisonVehicle.Code, Model.ComparisonVehicleLookup[i].Programmes,
                                new
                                {
                                    @id = "ddlComparisonMakes" + i.ToString(),
                                    @class = "form-control subscribers-notifyProgrammes vehicle-filter vehicle-filter-programme",
                                    @data_index = (i + 1).ToString()
                                })
                        </div>
                        <div class="col-lg-5">
                            <label class="control-label inverse" for="ddlComparisonModelYear@(i)">Model Year</label>
                            @Html.DropDownListFor(m => comparisonVehicle.ModelYear, Model.ComparisonVehicleLookup[i].ModelYears,
                                new
                                {
                                    @id = "ddlComparisonMakes" + i.ToString(),
                                    @class = "form-control subscribers-notifyModelYears vehicle-filter vehicle-filter-modelYear",
                                    @data_index = (i + 1).ToString()
                                })
                        </div>

                    </div>
                    <div class="row subscribers-notifyVehicle vehicle-readonly" data-index="@(i+1)" style="display:none">
                        <div class="col-lg-5 col-lg-offset-1">
                            <label class="control-label inverse" for="lblComparisonProgramme@(i)">Comparison Car Line #@(i+1)</label>

                            <p id="lblComparisonProgramme@(i)" class="subscribers-notifyVehicle vehicle-readonly vehicle-readonly-programme" data-index="@(i)"></p>
                        </div>
                        <div class="col-lg-5">

                            <label class="control-label inverse" for="lblComparisonModelYear@(i)">Model Year</label>

                            <p id="lblComparisonModelYear@(i)" class="subscribers-notifyVehicle vehicle-readonly vehicle-readonly-modelYear" data-index="@(i)"></p>
                        </div>
                    </div>
                    i++;
                }

            }
        </div>

    </div>
</div>


