@using FeatureDemandPlanning.BusinessObjects
@using enums = FeatureDemandPlanning.Enumerations

@model FeatureDemandPlanning.Models.ForecastComparisonViewModel

@section PageScripts
{
    <script src="@Url.Content("~/Scripts/Shared/namespace.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/pager.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/vehicle.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Forecast/forecast.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Forecast/forecastcomparisonpage.js")?v=@Model.CurrentVersion"></script>
    <script type="text/javascript">

        var forecast, vehicle, pager, page;
        var params = {
            PageUri: "@Url.Action("ForecastComparisonPage")",
            SaveForecastUri: "@Url.Action("SaveForecast")",
            ValidateForecastUri: "@Url.Action("ValidateForecast")",
            FilterVehiclesUri: "@Url.Action("FilterVehicles", "Vehicle")",
            ValidationMessageUri: "@Url.Action("ValidationMessage")",
            Configuration: {},
            ForecastVehicle: {},
            ComparisonVehicles: {},
            TrimMapping: [],
            PageSize: @Model.PageSize,
            PageIndex: @Model.PageIndex,
            ForecastId: null
        };

        params.Configuration = @Html.Raw(Json.Encode(Model.Configuration));
        params.ForecastVehicle = @Html.Raw(Json.Encode(Model.Forecast.ForecastVehicle));
        params.ComparisonVehicles = @Html.Raw(Json.Encode(Model.Forecast.ComparisonVehicles));
        @if (Model.Forecast.ForecastId.HasValue)
        {
        @:params.ForecastId = @Model.Forecast.ForecastId.Value;
                }
    </script>
    <script src="@Url.Content("~/Scripts/Forecast/init.js")?v=@Model.CurrentVersion"></script>
}

@section PageContentHeader
{
    <div class="row">
        <div class="col-lg-12 inverse">
            <div class="col-lg-10">
                <h1 style="height:25px">Forecast Comparison</h1>
                <p style="height:18px" id="lblPageDescription" class="subscribers-notifyPageChanged">
                    <div class="page-description" data-index="0">Choose a carline, model year and gateway to create a forecast for</div>
                    <div class="page-description" data-index="1" style="display:none">Choose up to 5 carlines &amp; model years to compare to</div>
                    <div class="page-description" data-index="2" style="display:none">Choose equivalent trim level for each comparison</div>
                </p>
                <h3 id="lblVehicleDescription" class="subscribers-notifyVehicle"></h3>
            </div>
        </div>
    </div>
}

@section PageBody
{
    <div id="notifier" class="subscribers-notifySuccess subscribers-notifyError subscribers-notifyVehicle subscribers-notifyUpdated subscribers-notifyBeforePageChanged subscribers-notifyValidation col-lg-8"></div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                This is some test content
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

    <form method="post" id="frmContent" action="@Url.Action("ForecastComparisonPage")" class="form-group-sm subscribers-notifyPageChanged">

        @Html.Partial("_ForecastVehicle", Model)

    </form>

    @Html.Partial("_Pager", Model)
    @Html.Partial("_ForecastPages", Model)
}




