@using FeatureDemandPlanning.BusinessObjects
@using enums = FeatureDemandPlanning.Enumerations

@model FeatureDemandPlanning.Models.ForecastComparisonViewModel

@section PageScripts
{
    <script src="@Url.Content("~/Scripts/Shared/namespace.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/pager.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/vehicle.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Forecast/forecast.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Forecast/forecastcomparisonpage.js")?v=@Model.CurrentVersion"></script>
    <script type="text/javascript">

        var forecast, vehicle, pager, page;
        var params = {
            SaveForecastUri: "@Url.Action("SaveForecast")",
            ValidateForecastUri: "@Url.Action("ValidateForecast")",
            FilterVehiclesUri: "@Url.Action("FilterVehicles", "Vehicle")",
            Configuration: {},
            ForecastVehicle: {},
            ComparisonVehicles: {},
            TrimMapping: [],
            PageSize: @Model.PageSize,
            PageIndex: @Model.PageIndex,
            ForecastId: null
        };

        params.Configuration = @Html.Raw(Json.Encode(Model.Configuration));
        params.ForecastVehicle = @Html.Raw(Json.Encode(Model.Forecast.ForecastVehicle));
        params.ComparisonVehicles = @Html.Raw(Json.Encode(Model.Forecast.ComparisonVehicles));
        @if (Model.Forecast.ForecastId.HasValue)
        {
        @:params.ForecastId = @Model.Forecast.ForecastId.Value;
        }
    </script>
    <script src="@Url.Content("~/Scripts/Forecast/init.js")?v=@Model.CurrentVersion"></script>
}

@section PageContentHeader
{
    <div class="row">
        <div class="col-lg-12 inverse">
            @*<div class="col-lg-2">
                
                <img src="~/Content/Images/Icons/create128.png" style="opacity:0.9;border:0" />
            </div>*@
            <div class="col-lg-10">
                <h1 style="height:50px">Forecast Comparison</h1>
                <p style="height:20px" id="lblPageDescription" class="subscribers-notifyPageChanged">Choose a carline, model year and gateway to create a forecast for</p>
                <h3 id="lblVehicleDescription" class="subscribers-notifyVehicle"></h3>
            </div>
            

            
        </div>
    </div>
}

@section PageBody
{
    <div id="notifier" class="subscribers-notifySuccess subscribers-notifyError subscribers-notifyVehicle subscribers-notifyUpdated subscribers-notifyBeforePageChanged subscribers-notifyValidation col-lg-8">
</div>

    <form method="post" action="@Url.Action("SaveForecast")" class=" form-group-sm">

        @Html.Partial("ForecastVehicle", Model)

        @Html.Partial("ForecastComparison", Model)

        @Html.Partial("ForecastTrim", Model)

        <div class="row">
            <div class="col-lg-8">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary subscribers-notifyPageChanged subscribers-notifyFirstPage subscribers-notifyLastPage" id="btnPrevious" style="display:none">&lt; Previous</button>
                    <button type="button" class="btn btn-primary subscribers-notifyPageChanged subscribers-notifyFirstPage subscribers-notifyLastPage" id="btnNext">Next &gt;</button>
                </div>
            </div>
        </div>

    </form>
}


