@using FeatureDemandPlanning.Model.Extensions

@model FeatureDemandPlanning.Model.ViewModel.IgnoredExceptionViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>
<div class="well col-xs-12">
    <div class="row">
        <div class="col-xs-4 text-right">
            <strong>Type:</strong>
        </div>
        <div class="col-xs-8">
            @Model.IgnoredException.TypeDescription
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-right">
            <strong>Sub-Type:</strong>
        </div>
        <div class="col-xs-8">
            @Model.IgnoredException.SubTypeDescription
        </div>
    </div>
    <div class="vertical-spacer">

    </div>
    <div class="row">
        <div class="col-xs-4 text-right">
            <strong>Document:</strong>
        </div>
        <div class="col-xs-8">
            @Model.IgnoredException.Document.Name
        </div>
    </div>
    <div class="vertical-spacer"></div>
    <div class="row">
        <div class="col-xs-4 text-right">
            <strong>Exception:</strong>
        </div>
        <div class="col-xs-8">
            @Model.IgnoredException.ErrorMessage
        </div>
    </div>

 </div>
