@using enums = FeatureDemandPlanning.Model.Enumerations

@section PageBody
{
    <div class="row" style="margin-bottom:30px">
        <div class="col-xs-12 inverse text-center">
            <h1 class="text-capitalize">Derivatives</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center inverse home-button">
        <a href="@Url.Action("Index", "DerivativeMapping")">
            <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
        </a>
        <h2 style="height:66px">Map Derivatives</h2>
        <p style="height:40px">Map derivatives to the corresponding OXO equivalent</p>
        <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Index", "DerivativeMapping")" role="button">Map Derivatives</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center inverse home-button">
        <a href="@Url.Action("Index", "Derivative")">
            <img src="~/Content/Images/Icons/mapping64.png" style="opacity: 0.9; border: 0"/>
        </a>
        <h2 style="height: 66px">FDP Derivatives</h2>
        <p style="height: 40px">Derivatives added to supplement the OXO data</p>
        <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Index", "Derivative")" role="button">FDP Derivatives</a>
        </p>
    </div>
<div class="col-xs-12 col-sm-6 text-center inverse home-button">
    <a href="@Url.Action("BMCPage", "DerivativeMapping")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Brochure Model Codes</h2>
    <p style="height: 40px">Brochure model codes added to supplement the OXO data</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("BMCPage", "DerivativeMapping")" role="button">Brochure Model Codes</a></p>
</div>
   
}


