@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@section PageBody
{
<div class="row" style="margin-bottom:30px">
    <div class="col-xs-12 inverse text-center">
        <h1 class="text-capitalize">Settings</h1>
    </div>
</div>

        <div class="col-md-4 col-sm-6 text-center inverse">
    <a href="@Url.Action("MapMarkets", "Market")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Map Markets</h2>
    <p style="height:40px">Map markets to the corresponding OXO equivalent</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("MapMarkets", "Market")" role="button">Map Markets</a></p>
</div>
        <div class="col-md-4 col-sm-6 text-center inverse">
    <a href="@Url.Action("MapDerivatives", "Derivative")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Map Derivatives</h2>
    <p style="height:40px">Map derivatives to the corresponding OXO equivalent</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("MapDerivatives", "Derivative")" role="button">Map Derivatives</a></p>
</div>
        <div class="col-md-4 col-sm-6 text-center inverse">
    <a href="@Url.Action("MapTrim", "Trim")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Map Trim</h2>
    <p style="height:40px">Map Trim to the corresponding OXO equivalent</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("MapTrim", "Trim")" role="button">Map Trim</a></p>
</div>
        <div class="col-md-4 col-sm-6 text-center inverse">
    <a href="@Url.Action("MapFeatures", "Features")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Map Features</h2>
    <p style="height:40px">Map Features to the corresponding OXO equivalent</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("MapFeatures", "Feature")" role="button">Map Features</a></p>
</div>
        <div class="col-md-4 col-sm-6 text-center inverse">
    <a href="@Url.Action("TopMarkets", "Market")">
        <img src="~/Content/Images/Icons/market64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Top Markets</h2>
    <p style="height:40px">Configure the top markets for forecasting</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("TopMarkets", "Markets")" role="button">Top Markets</a></p>
</div>
        <div class="col-md-4 col-sm-6 text-center inverse">
    <a href="@Url.Action("Index", "User")">
        <img src="~/Content/Images/Icons/users64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Users</h2>
    <p style="height:40px">User and permission management</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Index", "User")" role="button">Users</a></p>
</div>
}


