@using enums = FeatureDemandPlanning.Model.Enumerations

@section PageBody
{
    <div class="row" style="margin-bottom:30px">
        <div class="col-xs-12 inverse text-center">
            <h1 class="text-capitalize">Settings</h1>
        </div>
    </div>

    <div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
        <a href="@Url.Action("Index", "MarketMapping")">
            <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
        </a>
        <h2 style="height:66px">Map Markets</h2>
        <p style="height:40px">Map markets to the corresponding OXO equivalent</p>
        <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Index", "MarketMapping")" role="button">Map Markets</a></p>
    </div>
<div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
    <a href="@Url.Action("Derivative", "Admin")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Manage Derivatives</h2>
    <p style="height:40px">Manage Derivatives</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Derivative", "Admin")" role="button">Manage Derivatives</a></p>
</div>
<div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
    <a href="@Url.Action("Trim", "Admin")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Manage Trim</h2>
    <p style="height:40px">Manage Trim</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Trim", "Admin")" role="button">Manage Trim</a></p>
</div>
    <div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
    <a href="@Url.Action("Feature", "Admin")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Manage Features</h2>
    <p style="height:40px">Manage Features</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Feature", "Admin")" role="button">Manage Features</a></p>
</div>
<div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
    <a href="@Url.Action("Index", "IgnoredException")">
        <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Ignored Exceptions</h2>
    <p style="height:40px">Ignored exceptions for imported data</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Index", "IgnoredException")" role="button">Ignored Exceptions</a></p>
</div>
    <div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
    <a href="@Url.Action("TopMarkets", "Market")">
        <img src="~/Content/Images/Icons/market64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">Top Markets</h2>
    <p style="height:40px">Configure the top markets for forecasting</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("TopMarkets", "Markets")" role="button">Top Markets</a></p>
</div>
    <div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
        <a href="@Url.Action("Index", "User")">
            <img src="~/Content/Images/Icons/users64.png" style="opacity: 0.9; border: 0"/>
        </a>
        <h2 style="height: 66px">Users</h2>
        <p style="height: 40px">User and permission management</p>
        <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Index", "User")" role="button">Users</a>
        </p>
    </div>
<div class="col-xs-12 col-md-3 col-sm-6 text-center inverse home-button">
    <a href="@Url.Action("News", "Admin")">
        <img src="~/Content/Images/Icons/news64.png" style="opacity:0.9;border:0" />
    </a>
    <h2 style="height:66px">News</h2>
    <p style="height:40px">News article management</p>
    <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("News", "Admin")" role="button">News</a></p>
</div>
}


