@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

<div class="btn-group pull-right">
    @if (Model.AllowEdit)
    {
        <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_Save" disabled="disabled"><i class="glyphicon glyphicon-save"></i> Commit Changes</button>
        <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_Undo" disabled="disabled"><span class="glyphicon glyphicon-repeat"></span> Undo</button>
        <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_History"><span class="glyphicon glyphicon glyphicon-list-alt"></span> History</button>
        @Html.Partial("_MarketReviewButtons")
        <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_Toggle"><span class="glyphicon glyphicon-minus"></span></button>
        <a class="btn btn-default btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </a>
    }
    else
    {
        <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_History"><span class="glyphicon glyphicon glyphicon-list-alt"></span> History</button>
        <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_Toggle"><span class="glyphicon glyphicon-minus"></span></button>
        <a class="btn btn-default btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </a>
    }
</div>

