@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>

@if (!Model.HistoryDetails.HistoryDetails.Any())
{
    <div class="alert alert-warning">
        <div class="row">
            <div class="col-lg-1 text-center">
                <span class="glyphicon glyphicon-warning-sign"></span>
            </div>
            <div class="col-lg-11">
                <p>No changes have made for this changeset</p>
            </div>
        </div>
    </div>
}
@if (Model.HistoryDetails.HistoryDetails.Any())
{
    <table class="table dataTable table-bordered table-condensed table-responsive" style="font-size:11px">
        <thead>
        <tr>
            <th>Updated On</th>
            <th>Updated By</th>
            <th>Change</th>
            <th>Old Value</th>
            <th>New Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.HistoryDetails.HistoryDetails)
        {
            <tr>
                <td>@item.UpdatedOn.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.UpdatedBy</td>
                <td>@item.Change</td>
                <td>
                    @(item.IsPercentageUpdate ? item.OldPercentageTakeRate.ToString("P2") : item.OldVolume.ToString("N"))
                </td>
                <td>
                    @(item.IsPercentageUpdate ? item.NewPercentageTakeRate.ToString("P2") : item.NewVolume.ToString("N"))
                </td>
            </tr>
        }
        </tbody>
    </table>
}


