@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>

@if (!Model.History.History.Any())
{
    <div class="alert alert-warning">
        <div class="row">
            <div class="col-lg-1 text-center">
                <span class="glyphicon glyphicon-warning-sign"></span>
            </div>
            <div class="col-lg-11">
                <p>No changes have been saved for this market</p>
            </div>
        </div>
    </div>
}
@if (Model.History.History.Any())
{
    <table class="table dataTable table-bordered table-condensed table-responsive" style="font-size:11px">
        <thead>
        <tr>
            <th>Updated On</th>
            <th>Updated By</th>
            <th>Market</th>
            <th>Comment</th>
            <th>
                
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.History.History)
        {
            var index = 0;
            <tr>
                <td class="@RenderSavedClass(item)">@item.UpdatedOn.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="@RenderSavedClass(item)">@item.UpdatedBy</td>
                <td class="@RenderSavedClass(item)">@item.Market</td>
                <td class="@RenderSavedClass(item)">@item.Comment</td>
                <td>
                    @if (item.FdpChangesetId.HasValue)
                    {
                        <button id="@(Model.IdentifierPrefix)_History_@(index++)" class="btn btn-sm btn-default changeset-history-details" data-target="@item.FdpChangesetId">...</button>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@helper RenderSavedClass(FdpChangesetHistoryItem item)
{
    if (!item.IsSaved)
    {
        @(item.IsMarketReview ? "edited" : "edited-market-review")
    }
}


