@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

@if (Model.CurrentTakeRateDataItem.FeatureId.HasValue || Model.CurrentTakeRateDataItem.FdpFeatureId.HasValue)
{
    <li>
        <a tabindex="-1" href="#" data-role="@((int) enums.TakeRateDataItemAction.TakeRateDataItemDetails)" data-target="@(Model.Document.Market.Id)|@(Model.CurrentTakeRateDataItem.ModelIdentifier)|@(Model.CurrentTakeRateDataItem.FeatureIdentifier)">
            <span class="glyphicon glyphicon-info-sign pull-left"></span> View details...
        </a>
    </li>
    if (Model.AllowEdit)
    {
        <li>
            <a tabindex="-1" href="#" data-role="@((int) enums.TakeRateDataItemAction.AddNote)" data-target="@(Model.Document.Market.Id)|@(Model.CurrentTakeRateDataItem.ModelIdentifier)|@(Model.CurrentTakeRateDataItem.FeatureIdentifier)">
                <span class="glyphicon glyphicon-pencil pull-left"></span> Add Note...
            </a>
        </li>
    }
}
else if (Model.CurrentTakeRateDataItem.ModelId.HasValue || Model.CurrentTakeRateDataItem.FdpModelId.HasValue)
{
    <li>
        <a tabindex="-1" href="#" data-role="@((int) enums.TakeRateDataItemAction.TakeRateDataItemDetails)" data-target="@(Model.Document.Market.Id)|@(Model.CurrentTakeRateDataItem.ModelIdentifier)">
            <span class="glyphicon glyphicon-info-sign pull-left"></span> View model details...
        </a>
    </li>
    if (Model.AllowEdit)
    {
        <li>
            <a tabindex="-1" href="#" data-role="@((int) enums.TakeRateDataItemAction.AddNote)" data-target="@(Model.Document.Market.Id)|@(Model.CurrentTakeRateDataItem.ModelIdentifier)">
                <span class="glyphicon glyphicon-pencil pull-left"></span> Add Note...
            </a>
        </li>
    }
}
else
{
    <li>
        <a tabindex="-1" href="#" data-role="" data-target="">
            <span class="glyphicon glyphicon-warning pull-left"></span> No Data
        </a>
    </li>
}

