@using System.Data
@using FeatureDemandPlanning.Model.Empty
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

<div class="panel panel-primary">
    <div class="panel-heading" style="height:50px">
        <div class="viewport-toolbar pull-left col-xs-12 col-lg-6">
            <div class="btn-group pull-left">
                @Html.Partial("_ViewModeSelector", Model)
                @Html.Partial("_MarketSelector", Model)
            </div>
            @*<div class="input-group input-group-sm">
                <input id="@(Model.IdentifierPrefix)_FilterMessage" class="form-control" style="top:1px" type="text" maxlength="10" placeholder="Filter" aria-describedby="filter-addon" />
            </div>*@
            <div class="col-xs-6 pull-left">

                @if (!(Model.Document.Market is EmptyMarket))
                {
                    if (Model.Document.Mode == enums.TakeRateResultMode.PercentageTakeRate)
                    {
                        <form class="form-horizontal">
                            <div class="form-group-sm">
                                <div class="col-xs-4">
                                    <label for="@(Model.IdentifierPrefix)_PercentageOfTotalVolume" class="control-label text-right" style="font-size:11px">% of Total Volume:</label>
                                </div>
                                <div class="input-group col-xs-8">
                                    <input type="text" id="@(Model.IdentifierPrefix)_PercentageOfTotalVolume" class="form-control input-filtered-volume" value="@((Model.Document.TakeRateData.PercentageOfTotalVolume * 100).ToString("N2"))" />
                                    <span class="input-group-btn">
                                        <button type="button" id="@(Model.IdentifierPrefix)_UpdatePercentageOfTotalVolume" class="btn btn-sm btn-default update-filtered-volume">
                                            <span class="glyphicon glyphicon-refresh"></span> Update
                                        </button>

                                    </span>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form class="form-horizontal">
                            <div class="form-group-sm">
                                <div class="col-xs-4">
                                    <label for="@(Model.IdentifierPrefix)_FilteredVolume" class="control-label text-right" style="font-size:11px">Filtered Volume:</label>
                                </div>
                                <div class="input-group col-xs-8">
                                    <input type="text" id="@(Model.IdentifierPrefix)_FilteredTotalVolume" class="form-control input-filtered-volume col-xs-3" value="@Model.Document.TakeRateData.FilteredVolume" data-target="@Model.Document.Market.Id"/>
                                    <span class="input-group-btn">
                                        <button type="button" id="@(Model.IdentifierPrefix)_UpdateFilteredVolume" class="btn btn-sm btn-default update-filtered-volume">
                                            <span class="glyphicon glyphicon-refresh"></span> Update
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </form>
                    }
                }
            </div>
        </div>
        <div class="viewport-toolbar pull-right col-xs-12 col-lg-6">
            <div class="btn-group pull-right">

                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_Save" disabled="disabled"><i class="glyphicon glyphicon-save"></i> Commit Changes</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_Undo" disabled="disabled"><span class="glyphicon glyphicon-repeat"></span> Undo</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_History"><span class="glyphicon glyphicon glyphicon-list-alt"></span> History</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_MarketReview" disabled="disabled"><span class="glyphicon glyphicon-flag"></span> Market Review</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_Publish" disabled="disabled"><span class="glyphicon glyphicon-pushpin"></span> Publish</button>
                

                <button type="button" class="btn btn-default btn-sm" onclick="ToggleAllFolderWrapper();" title="Expand / collapse feature groups"><span class="glyphicon glyphicon-plus"></span></button>
                <a class="btn btn-default btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-collapse-down"></span>
                </a>
            </div>
        </div>
    </div>

    <div id="@(Model.IdentifierPrefix)_TakeRateDataPanel" class="panel-body subscribers-notify" style="padding:5px;height:85%">
        <div class="col-xs-12" style="padding:0px">
            <table id="@(Model.IdentifierPrefix)_TakeRateData" class="table table-bordered table-condensed dataTable cross-tab">
                <thead>
                    <tr class="cross-tab-header">
                        <th colspan="3" class="text-right first-cell">
                        </th>
                        @foreach (var availableModel in Model.Document.Vehicle.AvailableModels)
                        {
                            var modelClassName = string.Empty;
                            if (availableModel.FdpModelId.HasValue)
                            {
                                modelClassName = "fdp-model";
                            }
                            <th class="text-center model @modelClassName" data="@availableModel.StringIdentifier">
                                @foreach (string namePart in availableModel.NameWithBR.Split('#'))
                                {
                                    @namePart<br />
                                }
                            </th>
                        }
                    </tr>
                    <tr class="cross-tab-header" style="height:27px">
                        <th colspan="3" class="text-right bmc">BMC</th>
                        @foreach (var availableModel in Model.Document.Vehicle.AvailableModels)
                        {
                            var modelClassName = string.Empty;
                            if (availableModel.FdpModelId.HasValue)
                            {
                                modelClassName = "fdp-model";
                            }
                            <th class="text-center bmc @modelClassName">
                                @if (!string.IsNullOrEmpty(availableModel.BMC))
                                {
                                    <span>@availableModel.BMC</span>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </th>
                        }
                    </tr>
                    <tr class="cross-tab-header">
                        <th colspan="3" class="text-right trim-level">Trim Level / DPCK</th>
                        @foreach (var availableModel in Model.Document.Vehicle.AvailableModels)
                        {
                            var modelClassName = string.Empty;
                            if (availableModel.FdpModelId.HasValue)
                            {
                                modelClassName = "fdp-model";
                            }
                            <th class="text-center trim-level @modelClassName">
                                @if (!string.IsNullOrEmpty(availableModel.TrimLevel))
                                {
                                    <span>
                                        @availableModel.TrimLevel
                                    </span>
                                    if (!string.IsNullOrEmpty(availableModel.DPCK))
                                        {
                                            <span>&nbsp;/ @availableModel.DPCK</span>
                                        }
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </th>
                        }
                    </tr>
                    <tr class="cross-tab-header" id="@(Model.IdentifierPrefix)_TakeRateByModel">
                        @Html.Partial("_TakeRateDataByModel")
                    </tr>
                </thead>
                <tbody id="@(Model.IdentifierPrefix)_TakeRateByFeature">
                    @foreach (var featureRow in Model.Document.TakeRateData.RawData)
                    {
                        TempData["CurrentRow"] = featureRow;
                        @Html.Partial("_TakeRateDataByFeature");
                    }
                </tbody>

            </table>
        </div>
    </div>


</div>

<input type="hidden" id="@(Model.IdentifierPrefix)_OriginalVolumeByMarket" value="@Model.Document.TakeRateData.FilteredVolume" />
<input type="hidden" id="@(Model.IdentifierPrefix)_OriginalTakeRateByMarket" value="@Model.Document.TakeRateData.PercentageOfTotalVolume" />
