@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

@Html.Partial("_TakeRateDataItemHeader", Model)

@if (Model.CurrentTakeRateDataItem.Notes.Any())
{
    <div class="panel panel-primary panel-sm">
        <div class="panel-heading small-panel-heading">
            <div class="panel-title small-panel-title">Notes</div>
        </div>
        <div class="panel-body">

            <table id="@(Model.IdentifierPrefix)_Notes" class="table table-bordered table-condensed table-responsive dataTable" style="font-size: 11px">
                <thead>
                <tr>
                    <th class="text-center">Added On</th>
                    <th class="text-center">Added By</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var note in Model.CurrentTakeRateDataItem.Notes)
                {
                    <tr>
                        <td class="text-center">@note.EnteredOn.ToString("dd/MM/yyyy HH:mm")</td>
                        <td class="text-center">@note.EnteredBy</td>
                        <td>@note.Note</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="panel panel-primary panel-sm">
    <div class="panel-heading small-panel-heading">
        <div class="panel-title small-panel-title">History</div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-condensed table-responsive dataTable" style="font-size:11px">
            <thead>
                <tr>
                    <th class="text-center">Updated On</th>
                    <th class="text-center">Updated By</th>
                    <th>Volume</th>
                    <th>% Take Rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var historyItem in Model.CurrentTakeRateDataItem.History)
                {
                    <tr>
                        
                        @if (historyItem.IsUncommittedChange)
                        {
                            <td class="text-center"><span class="edited">@historyItem.AuditOn.ToString("dd/MM/yyyy HH:mm")</span></td>
                            <td class="text-center"><span class="edited">@historyItem.AuditBy</span></td>
                            <td><span class="edited">@historyItem.Volume</span></td>
                            <td><span class="edited">@historyItem.PercentageTakeRate.GetValueOrDefault().ToString("P2")</span></td>
                        }
                        else
                        {
                            <td class="text-center">@historyItem.AuditOn.ToString("dd/MM/yyyy HH:mm")</td>
                            <td class="text-center">@historyItem.AuditBy</td>
                            <td>@historyItem.Volume</td>
                            <td>@historyItem.PercentageTakeRate.GetValueOrDefault().ToString("P2")</td>
                        }
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

