@using System.Data
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateDataViewModel

<div class="panel panel-primary">
    <div class="panel-heading" style="height:50px">
        <div class="pull-left">
            <div class="panel-title">
                <span class="badge">@*@Model.TakeRate.AvailableModels.Count()*@ [X]</span> Derivatives
            </div>
        </div>
        <div class="viewport-toolbar pull-right">
            
            <div class="btn-group">
                @Html.Partial("_ViewModeSelector", Model)
            </div>
            <div class="btn-group">
                @Html.Partial("_MarketSelector", Model)
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_ToggleButton"><i class="glyphicon glyphicon-plus"></i> Toggle All</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_ChangeSetsButton"><i class="glyphicon glyphicon-book"></i> Change Sets</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_ValidateButton"><i class="glyphicon glyphicon-check"></i> Validate</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_MarketReviewButton"><i class="glyphicon glyphicon-flag"></i> Market Review</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_PublishButton"><i class="glyphicon glyphicon-pushpin"></i> Publish</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_SaveButton" style="display:none"><i class="glyphicon glyphicon-save"></i> Save Changes</button>
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_RemoveButton" style="display:none"><i class="glyphicon glyphicon-remove"></i> Cancel Changes</button>
            </div>
            
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-sm" id="@(Model.IdentifierPrefix)_CollapseButton"><i class="glyphicon glyphicon-collapse-down"></i></button>
            </div>
            <div class="input-group input-group-sm pull-right">
                <input class="form-control" style="top:1px" type="text" maxlength="10" placeholder="Filter" aria-describedby="filter-addon" />
            </div>
        </div>
    </div>

    <div class="panel-body">
        <table id="@(Model.IdentifierPrefix)_TakeRateData" class="table table-hover table-striped table-bordered dataTable">
            <thead>
            <tr style="height:80px">
                <th style="height:100px">Feature Group</th>
                <th>Sub Group</th>
                <th>Feature Description</th>
                <th>Feature Code</th>

                @*@foreach (var model in Model.TakeRate.Vehicle.AvailableModels)
                {
                    <th style="width: 80px!important">@(model.Name)</th>
                }*@
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

