@using System.Diagnostics
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>

@if (Model.Validation == null || !Model.Validation.ValidationResults.Any())
{
    <div class="alert alert-success">
        <div class="row">
            <div class="col-lg-1 text-center">
                <span class="glyphicon glyphicon-check"></span>
            </div>
            <div class="col-lg-11">
                <p>No issues have been identified with the data for this market</p>
            </div>
        </div>
    </div>
}
@if (Model.Validation != null && Model.Validation.ValidationResults.Any())
{
    <div style="height: 400px; overflow: scroll; overflow-x: hidden">
        <table class="table dataTable table-bordered table-condensed table-responsive" style="font-size: 11px">
            <thead>
            <tr>
                <th></th>
                <th>Validation Message</th>
                <th>Rule</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                }
                @foreach (var item in Model.Validation.ValidationResults)
                {
                    <tr>
                        <td>@(i++).</td>
                        <td>@item.Message</td>
                        <td>@item.RuleDescription</td>
                        <td>@Html.ActionLink("Ignore", "IgnoreValidationError", new { TakeRateId = Model.Document.TakeRateId, MarketId = Model.Document.Market.Id, FdpValidationId = item.FdpValidationId })</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}


