@using FeatureDemandPlanning.Model
@using FeatureDemandPlanning.Model.Empty
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

<div class="btn-group" role="group" aria-label="Take Rate Mode">
<button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @if (Model.Document.Mode == enums.TakeRateResultMode.PercentageTakeRate || Model.Document.Mode == enums.TakeRateResultMode.NotSet)
    {
        @:Take Rate by %
        }
    else
    {
        @:Take Rate by Vol.
    }
    <span class="caret"></span>
</button>
<input type="hidden" id="@(Model.IdentifierPrefix)_Mode" value="@Model.Document.Mode"/>
<ul class="dropdown-menu">
    @if (!(Model.Document.Market is EmptyMarket))
    {
        <li>@Html.ActionLink("Take Rate by %", "Index", new { oxoDocId = Model.Document.UnderlyingOxoDocument.Id, marketId = Model.Document.Market.Id, resultsMode = enums.TakeRateResultMode.PercentageTakeRate })</li>
        <li>@Html.ActionLink("Take Rate by Vol.", "Index", new { oxoDocId = Model.Document.UnderlyingOxoDocument.Id, marketId = Model.Document.Market.Id, resultsMode = enums.TakeRateResultMode.Raw })</li>
    }
    else if (!(Model.Document.MarketGroup is EmptyMarketGroup))
    {
        <li>@Html.ActionLink("Take Rate by %", "Index", new { oxoDocId = Model.Document.UnderlyingOxoDocument.Id, marketGroupId = Model.Document.MarketGroup.Id, resultsMode = enums.TakeRateResultMode.PercentageTakeRate })</li>
        <li>@Html.ActionLink("Take Rate by Vol.", "Index", new { oxoDocId = Model.Document.UnderlyingOxoDocument.Id, marketGroupId = Model.Document.MarketGroup.Id, resultsMode = enums.TakeRateResultMode.Raw })</li>
    }
    else
    {
        <li>@Html.ActionLink("Take Rate by %", "Index", new { oxoDocId = Model.Document.UnderlyingOxoDocument.Id, resultsMode = enums.TakeRateResultMode.PercentageTakeRate })</li>
        <li>@Html.ActionLink("Take Rate by Vol.", "Index", new { oxoDocId = Model.Document.UnderlyingOxoDocument.Id, resultsMode = enums.TakeRateResultMode.Raw })</li>
    }
</ul>
    </div>

