@using FeatureDemandPlanning.Model
@using FeatureDemandPlanning.Model.Empty
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

@section PageScripts
{
    @Html.Partial("_Scripts", Model)
}

@section PageContentHeader
{
    <form>
    <input id="Page_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>
    <div id="collapseExample" class="collapse row">
        <div class="col-lg-12 inverse">

            <div class="col-xs-12 col-sm-6 col-lg-5 inverse" style="padding-top: 20px">
                <div class="panel panel-primary" style="height:160px;background-color: rgba(18, 7, 59, 0.75);">
                    <div class="panel-body" style="background:none !important">
                        <div class="row">
                            <div class="hidden-xs hidden-sm hidden-md col-lg-2 text-center">
                                <img src="~/Content/Images/Icons/edit64.png" style="margin-top:15px" />
                            </div>
                            <div class="col-xs-12 col-lg-10">
                                <h3 style="margin-top:5px">Take Rate Data</h3>
                                <h5 id="lblVehicleDescription">@RenderSelectedVehicle()</h5>

                                <div id="lblPageDescription" class="subscribers-notifyPageChanged">
                                <p class="page-description">View and edit take rate data for the selected OXO document</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden-xs hidden-sm hidden-md col-lg-2 pull-right" style="padding-top: 20px">
                <div class="panel panel-primary" style="margin-bottom: 0px; height:160px">
                    <div class="panel-heading" style="padding:3px 15px"><div class="panel-title">Key</div></div>
                    <div class="panel-body" style="padding-top: 3px" >

                        <div>

                            <ul class="list-group" style="margin-bottom:10px">
                                <li class="list-group-item standardFeature">Standard Feature</li>
                                <li class="list-group-item marketFeature">Market Feature</li>
                                <li class="list-group-item optionalFeature">Optional Feature</li>
                                <li class="list-group-item packFeature">Package Feature</li>
                                @*<li class="list-group-item nonApplicableFeature">Not Applicable</li>*@
                                <li class="list-group-item orphanedFeature">Hidden</li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-lg-5 pull-right" style="padding-top: 20px; ">
                <div class="panel panel-primary" style="margin-bottom: 0px; height:160px">
                    <div class="panel-heading" style="padding:3px 15px"><div class="panel-title">Volume Mix</div></div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label class="col-sm-8 control-label">Total Volume (All Markets):</label>
                                <div id="@(Model.IdentifierPrefix)_AllMarketVolume" class="col-sm-4 form-control-static">
                                    @Model.Document.TakeRateData.TotalVolume.ToString("N0")
                                </div>
                            </div>
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label class="col-sm-8 control-label">Filtered Volume (Selected Markets):</label>
                                @if (!(Model.Document.Market is EmptyMarket))
                                {
                                    <div id="@(Model.IdentifierPrefix)_MarketVolume" class="col-sm-4 form-control-static" data-target="@Model.Document.Market.Id">
                                        @Model.Document.TakeRateData.FilteredVolume.ToString("N0")
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-4 form-control-static">
                                        @Model.Document.TakeRateData.FilteredVolume.ToString("N0")
                                    </div>
                                }
                            </div>
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label class="col-sm-8 control-label">% of Total Volume:</label>
                                <div id="@(Model.IdentifierPrefix)_MarketPercentageTakeRate" class="col-sm-4 form-control-static">
                                    @Model.Document.TakeRateData.PercentageOfTotalVolume.ToString("P2")
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
}

@section PageBody
{
    <ul id="@(Model.IdentifierPrefix)_ContextMenu" class="dropdown-menu context-menu" role="menu" style="display:none"></ul>
    <div id="notifier" class="subscribers-notify col-lg-12" style="float:none;margin-top:5px"></div>

    @Html.Partial("_Modal", Model)

    <form method="post" id="frmContent" action="@Url.Action("VolumePage")" class="form-group-sm subscribers-notifyPageChanged">

        @Html.Partial("_TakeRateData")
 
    </form>
}

@helper RenderSelectedVehicle()
{
    if (!(Model.Document.UnderlyingOxoDocument is EmptyOxoDocument)) {
        @Model.Document.UnderlyingOxoDocument.Name
    }
    else if (!(Model.Document.Vehicle is EmptyVehicle))
    {
        @Model.Document.Vehicle.FullDescription
    }
}



