@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>

@using (Html.BeginForm("Upload", "Import", FormMethod.Post, new { enctype = "multipart/form-data", id = Model.IdentifierPrefix + "_UploadForm" }))
{


                <form role="form" class="form-horizontal">
                    <div class="form-group-sm" style="margin-bottom:15px;">
                        <label for="@(Model.IdentifierPrefix)_Filename" class="col-lg-3 control-label">Filename:</label>
                        <div class="col-lg-9" style="margin-bottom:15px;">



                            <div class="btn btn-sm btn-primary btn-file col-lg-12">
                                <span id="@(Model.IdentifierPrefix)_SelectedFilename">Select PPO file to upload&hellip;</span><input type="file" id="@(Model.IdentifierPrefix)_Filename">
                            </div>
                        </div>

                    </div>
                    <div class="form-group-sm" style="margin-bottom:15px;">
                        <label for="@(Model.IdentifierPrefix)_SelectCarLine" class="col-lg-3 control-label">Car Line:</label>
                        <div class="col-lg-9" style="margin-bottom:15px;">
                            <button id="@(Model.IdentifierPrefix)_SelectCarLine" class="btn btn-sm btn-default dropdown-toggle form-control col-lg-9" data-toggle="dropdown">
                                <span id="@(Model.IdentifierPrefix)_SelectedCarLine">Select Car Line</span>
                                <span class="caret"></span>
                            </button>
                            <ul id="@(Model.IdentifierPrefix)_CarLineList" class="dropdown-menu">
                                @foreach (var carLine in Model.CarLines)
                                {
                                    <li><a class="car-line-item" href="#" data-filter="@carLine.VehicleName" data-target="@carLine.VehicleName" data-content="@string.Format("{0} - {1}", carLine.VehicleName, carLine.VehicleAKA)">@string.Format("{0} - {1}", carLine.VehicleName, carLine.VehicleAKA)</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="form-group-sm" style="margin-bottom:15px;">
                        <label for="@(Model.IdentifierPrefix)_SelectModelYear" class="col-lg-3 control-label">Model Year:</label>
                        <div class="col-lg-9" style="margin-bottom:15px;">
                            <button id="@(Model.IdentifierPrefix)_SelectModelYear" class="btn btn-sm btn-default dropdown-toggle form-control col-lg-9" data-toggle="dropdown">
                                <span id="@(Model.IdentifierPrefix)_SelectedModelYear">Select Model Year</span>
                                <span class="caret"></span>
                            </button>
                            <ul id="@(Model.IdentifierPrefix)_ModelYearList" class="dropdown-menu">
                                @foreach (var modelYear in Model.ModelYears)
                                {
                                    <li><a class="model-year-item" href="#" data-filter="@modelYear.VehicleName" data-target="@modelYear.Name">@modelYear.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="form-group-sm" style="margin-bottom:15px;">
                        <label for="@(Model.IdentifierPrefix)_SelectGateway" class="col-lg-3 control-label">Gateway:</label>
                        <div class="col-lg-9" style="margin-bottom:15px;">
                            <button id="@(Model.IdentifierPrefix)_SelectGateway" class="btn btn-sm btn-default dropdown-toggle form-control col-lg-9" data-toggle="dropdown">
                                <span id="@(Model.IdentifierPrefix)_SelectedGateway">Select Gateway</span>
                                <span class="caret"></span>
                            </button>

                            <ul id="@(Model.IdentifierPrefix)_GatewayList" class="dropdown-menu">
                                @foreach (var gateway in Model.Gateways)
                                {
                                    <li><a class="gateway-item" href="#" data-filter="@gateway.VehicleName|@gateway.ModelYear" data-target="@gateway.Name">@gateway.Name</a></li>
                                }
                            </ul>
                          
                        </div>
                    </div>
                    <div class="form-group-sm" style="margin-bottom:15px;">
                        <label for="@(Model.IdentifierPrefix)_SelectDocument" class="col-lg-3 control-label">Document:</label>
                        <div class="col-lg-9" style="margin-bottom:15px;">
                            <button id="@(Model.IdentifierPrefix)_SelectDocument" class="btn btn-sm btn-default dropdown-toggle form-control col-lg-9" data-toggle="dropdown">
                                <span id="@(Model.IdentifierPrefix)_SelectedDocument">Select Document</span>
                                <span class="caret"></span>
                            </button>

                            <ul id="@(Model.IdentifierPrefix)_DocumentList" class="dropdown-menu">
                                @foreach (var document in Model.Documents)
                                {
                                    <li><a class="document-item" href="#" data-filter="@document.VehicleName|@document.ModelYear|@document.Gateway" data-target="@document.Id" data-content="@document.VersionId">@document.VersionId</a></li>
                                }
                            </ul>

                        </div>
                    </div>
                   
                </form>
}