@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

@section PageScripts
{
    @Html.Partial("_Scripts", Model)
}

@section PageContentHeader
{
    <form>
        <input id="Page_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
    </form>
    <div class="row" style="padding-top: 20px">
    <div class="col-xs-12 col-sm-6 col-lg-5 inverse pull-left">
        <div class="panel panel-primary" style="height:160px;background-color: rgba(18, 7, 59, 0.75);">
            <div class="panel-body" style="background:none !important">
                <div class="row">
                    <div class="col-md-2 hidden-xs hidden-sm">
                        <img src="~/Content/Images/Icons/import64.png" style="margin-top:15px" />
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 style="margin-top:5px">Import</h3>
                                <h4 id="lblVehicleDescription">&nbsp;</h4>
                            </div>
                        </div>
                        <div class="row vertical-spacer">
                            <div class="col-xs-6 vertical-align">
                                <p class="page-description">Import pre-populated OXO volume information into a specified car line</p>
                            </div>
                            <div class="col-xs-6 vertical-align">
                                <button id="@(Model.IdentifierPrefix)_UploadButton" class="btn btn-primary center-block" data-role="@((int)enums.ImportAction.Upload)"><span class="glyphicon glyphicon-plus-sign"></span> Import PPO File...</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        <div class="col-xs-12 col-sm-6 col-lg-3 inverse pull-right">
            <div class="panel panel-primary" style="height:160px;background-color: rgba(18, 7, 59, 0.75);">
                <div class="panel-heading">
                    <div class="panel-title">Filter Imports</div>
                </div>
                <div class="panel-body" style="background:none !important">
                    <form class="form-horizontal">
                        <div class="form-group-sm">
                            <label for="@(Model.IdentifierPrefix)_ImportStatus" class="form-label col-xs-4 text-right" style="margin-top:5px">Type:</label>
                            <div class="col-xs-8">
                                <button id="@(Model.IdentifierPrefix)_SelectImportStatus" type="button" class="btn btn-sm btn-default dropdown-toggle col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="@(Model.IdentifierPrefix)_SelectedImportStatus">All</span>
                                    <span class="caret"></span>
                                </button>
                                <ul id="@(Model.IdentifierPrefix)_ImportStatusList" class="dropdown-menu">
                                    @foreach (var importStatus in Model.ImportStatuses)
                                    {
                                        <li><a class="status-item" href="#" data-target="@((int)importStatus.ImportStatusCode))" data-content="@importStatus.Status">@importStatus.Status</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="vertical-spacer" style="height:40px"></div>
                        <div class="form-group-sm">
                            <label for="@(Model.IdentifierPrefix)_FilterMessage" class="form-label col-xs-4 text-right" style="margin-top:5px">Filter:</label>
                            <div class="col-xs-8">
                                <input type="text" id="@(Model.IdentifierPrefix)_FilterMessage" placeholder="Filter imports" class="form-control" />
                            </div>
                        </div>
                        @*<div class="vertical-spacer" style="height:40px"></div>
                        <div class="form-group-sm">
                            <label for="@(Model.IdentifierPrefix)_ImportStatus" class="form-label col-xs-4 text-right" style="margin-top:5px">Status:</label>
                            <div class="col-xs-8">
                            <select id="@(Model.IdentifierPrefix)_SelectImportStatus" class="col-xs-8 form-control">
                                <option value="0" selected="selected">All</option>
                                @foreach (var importStatus in Model.ImportStatuses)
                                {
                                    <option value="@((int)importStatus.ImportStatusCode)">@importStatus.Status</option>
                                }
                            </select>
                                </div>

                        </div>*@
                    </form>
                </div>
            </div>
        </div>
</div>



}

@section PageBody
{
    <div id="notifier" class="subscribers-notify col-lg-8 col-lg-offset-2"></div>

    @Html.Partial("_Modal", Model)

    @{Html.RenderPartial("_ProcessState", Model);}

    <div class="row">
        <div id="dvImportQueue" class="col-lg-12">
            @{Html.RenderPartial("_ImportQueue", Model);}
        </div>

    </div>

}


