@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

@section PageScripts
{
    <script src="@Url.Content("~/Scripts/Shared/namespace.js")?v=@SharedModelBase.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/contextmenu.js")?v=@SharedModelBase.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/modal.js")?v=@SharedModelBase.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Import/importqueue.js")?v=@SharedModelBase.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Import/importqueuepage.js")?v=@SharedModelBase.CurrentVersion"></script>
    <script language="javascript">

        var importQueue, page, modal;
        var params = {
            ProcessUri: "@Url.Action("Process")",
            CancelUri: "@Url.Action("Cancel")",
            ImportQueue: @Html.Raw(Json.Encode(Model.ImportQueue)),
            ImportQueueUri: "@Url.Action("ListImportQueue")",
            Configuration: {},
            PageSize: @Model.PageSize,
            PageIndex: @Model.PageIndex,
            _lastParam: null
        };
        params.Configuration = @Html.Raw(Json.Encode(Model.Configuration));

    </script>
    <script src="@Url.Content("~/Scripts/Import/importqueueinit.js")?v=@SharedModelBase.CurrentVersion"></script>
}

@section PageStyles{
    <link href="@Url.Content("~/Styles/Import/import.css")?v=@SharedModelBase.CurrentVersion" rel="stylesheet" type="text/css" />
}

@section PageContentHeader
{

<div class="row">
    <div class="col-lg-5 inverse" style="padding-top: 20px">
        <div class="panel panel-primary" style="height:160px;background-color: rgba(18, 7, 59, 0.75);">
            <div class="panel-body" style="background:none !important">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="~/Content/Images/Icons/import64.png" style="margin-top:15px" />
                    </div>
                    <div class="col-lg-10">
                        <h3 style="margin-top:5px">Import</h3>
                        <h4 id="lblVehicleDescription">&nbsp;</h4>

                        <p class="page-description">Import pre-populated OXO volume information into a specified car line</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 pull-right" style="padding-top: 20px">
        <a name="new"></a>
        @{Html.RenderPartial("_Upload", Model);}
    </div>
</div>

}

@section PageBody
{
    <div id="notifier" class="subscribers-notifySuccess subscribers-notifyError col-lg-8 col-lg-offset-2">

    </div>

        @{Html.RenderPartial("_ProcessState", Model);}

        
            <a name="queue"></a>

            <div id="dvImportQueue" class="col-lg-12 pull-left">
                @{Html.RenderPartial("_ImportQueue", Model);}
            </div>
       
}


