@using enums = FeatureDemandPlanning.Enumerations

@model FeatureDemandPlanning.Models.ImportViewModel

@foreach (var state in Model.ProcessStates)
{
    <div class="row">
        <div id="dvMessage" class="col-lg-12">
            @switch (state.Status)
            {
                case enums.ProcessStatus.Failure:

                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @if (state.Messages.Count() > 1)
                        {
                            <ul>
                                @foreach (var message in state.Messages)
                                {
                                    <li>@message</li>
                                }
                            </ul>
                        }
                        else
                        {
                            @state.Messages.FirstOrDefault();
                        }
                    </div>

                    break;
                    
                case enums.ProcessStatus.Success:

                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @if (state.Messages.Count() > 1)
                        {
                            <ul>
                                @foreach (var message in state.Messages)
                                {
                                    <li>@message</li>
                                }
                            </ul>
                        }
                        else
                        {
                            @state.Messages.FirstOrDefault();
                        }
                    </div>

                    break;
                    
                case enums.ProcessStatus.Warning:

                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">×</button>

                        @if (state.Messages.Count() > 1) {
                        <ul>
                            @foreach (var message in state.Messages)
                            {
                                <li>@message</li>
                            }
                        </ul>
                        }
                        else
                        {
                            @state.Messages.FirstOrDefault();
                        }
                    </div>

                        break;

                case enums.ProcessStatus.Information:

                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>

                    @if (state.Messages.Count() > 1)
                    {
                        <ul>
                            @foreach (var message in state.Messages)
                            {
                                <li>@message</li>
                            }
                        </ul>
                    }
                    else
                    {
                        @state.Messages.FirstOrDefault();
                    }
                </div>

                    break;
                default:
                    break;
            }
        </div>
    </div>
}


