@using FeatureDemandPlanning.Model.Extensions

@model FeatureDemandPlanning.Model.ViewModel.SpecialFeatureMappingViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>
<div class="well col-xs-12">
    <div class="col-xs-4 text-right">
        <strong>Import Feature:</strong>
    </div>
    <div class="col-xs-8">
        @Model.SpecialFeatureMapping.FeatureCode
    </div>
    <div class="col-xs-4 text-right">
        <strong>Programme:</strong>
    </div>
    <div class="col-xs-8">
        @Model.SpecialFeatureMapping.Programme.GetDisplayString()
    </div>
    <div class="col-xs-4 text-right" style="margin-bottom:15px">
        <strong>Gateway:</strong>
    </div>
    <div class="col-xs-8" style="margin-bottom:15px">
        @Model.SpecialFeatureMapping.Gateway
    </div>
    <div class="col-xs-4 text-right">
        <strong>Special Feature:</strong>
    </div>
    <div class="col-xs-8">
        @Model.SpecialFeatureMapping.Description
    </div>
 </div>
