@using FeatureDemandPlanning.Model.Extensions

@model FeatureDemandPlanning.Model.ViewModel.TrimMappingViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>
<div class="well col-xs-12">
    <div class="col-xs-4 text-right">
        <strong>Import Trim:</strong>
    </div>
    <div class="col-xs-8">
        @Model.TrimMapping.ImportTrim
    </div>
    <div class="col-xs-4 text-right">
        <strong>Programme:</strong>
    </div>
    <div class="col-xs-8">
        @Model.TrimMapping.Programme.GetDisplayString()
    </div>
    <div class="col-xs-4 text-right" style="margin-bottom:15px">
        <strong>Gateway:</strong>
    </div>
    <div class="col-xs-8" style="margin-bottom:15px">
        @Model.TrimMapping.Gateway
    </div>
    <div class="col-xs-4 text-right">
        <strong>Mapped Trim:</strong>
    </div>
    <div class="col-xs-8">
        @Model.TrimMapping.Name
    </div>
    <div class="col-xs-4 text-right">
        <strong>Level:</strong>
    </div>
    <div class="col-xs-8">
        @Model.TrimMapping.Level
    </div>
    <div class="col-xs-4 text-right">
        <strong>DPCK:</strong>
    </div>
    <div class="col-xs-8">
        @Model.TrimMapping.DPCK
    </div>
 </div>
