@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.MarketMappingViewModel

<li>
    <a tabindex="-1" href="#" data-target="@Model.MarketMapping.FdpMarketMappingId" data-role="@((int)enums.MarketMappingAction.Delete)" data-content="@Model.MarketMapping.ImportMarketCode">
        <span class="glyphicon glyphicon-remove pull-left"></span> Delete Market Mapping '@Model.MarketMapping.ImportMarketCode' &gt; '@Model.MarketMapping.MarketCode'...
    </a>
</li>
<li>
    <a tabindex="-1" href="#" data-target="@Model.MarketMapping.FdpMarketMappingId" data-role="@((int)enums.MarketMappingAction.Copy)" data-content="@Model.MarketMapping.ImportMarketCode">
        <span class="glyphicon glyphicon-copy pull-left"></span> Copy Market Mapping '@Model.MarketMapping.ImportMarketCode' to Gateway...
    </a>
</li>