@using FeatureDemandPlanning.Model
@using FeatureDemandPlanning.Helpers
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.FdpOxoVolumeViewModel

<div id="oxoDocuments" class="subscribers-notifyVehicle">

    @if (Model.Volume.Vehicle.AvailableDocuments.Any())
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Available OXO Documents</div>
            </div>

            <div class="panel-body">
                <table id="oxoDocumentsTable" class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Version</th>
                            <th>Car Line</th>
                            <th class="text-center">Model Year</th>
                            <th class="text-center">Gateway</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Created</th>
                            <th class="text-center">By</th>
                            <th class="text-center">Updated</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
        foreach (var document in Model.Volume.Vehicle.AvailableDocuments)
        {
            <tr>
                <td class="text-center">@document.VersionLabel</td>
                <td>@string.Format("{0} - {1}", document.VehicleName, document.VehicleAKA)</td>
                <td class="text-center">@document.ModelYear</td>
                <td class="text-center">@document.Gateway</td>
                <td class="text-center">@document.Status</td>
                <td class="text-center">@document.CreatedOn</td>
                <td class="text-center">@document.CreatedBy</td>
                <td class="text-center">@document.LastUpdated</td>
                <td class="text-center">
                    @if (Model.Volume.Document != null && Model.Volume.Document.Id == document.Id)
                    {
                        <button type="button" class="btn btn-sm btn-danger oxo-document-toggle" data-target="@document.Id">Unselect</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-sm btn-primary oxo-document-toggle" data-target="@document.Id">Select</button>
                    }
                </td>
            </tr>
        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>

<ul id="oxoDocumentsContextMenu" class="dropdown-menu" role="menu" style="display:none">
    <li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-list"></i> View Import History...</a></li>
</ul>
