@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

@section PageScripts
{
    <script src="@Url.Content("~/Scripts/Shared/namespace.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/contextmenu.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/modal.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/cookie.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/TakeRateData/model.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/TakeRateData/changeset.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/TakeRateData/page.js")?v=@Model.CurrentVersion"></script>

    <script type="text/javascript">

        var volume, vehicle, pager, page, modal;
        var params = {
            PageUri: "@Url.Action("VolumePage")",
            SaveVolumeUri: "@Url.Action("Save")",
            ValidateUri: "@Url.Action("Validate")",
            ValidationMessageUri: "@Url.Action("ValidationMessage")",
            ModalDialogId: "modal",
            ModalContentId: "modalBody",
            Configuration: {},
            OXOVehicle: {},
            PageSize: @Model.PageSize,
            PageIndex: @Model.PageIndex,
            CookieKey: "@Model.CookieKey"
        };

        params.Configuration = @Html.Raw(Json.Encode(Model.Configuration));
        params.Vehicle = @Html.Raw(Json.Encode(Model.Volume.Vehicle));
        @if (Model.Volume.Document != null)
        {
            @:params.OxoDocId = @Model.Volume.Document.Id;
        }
    </script>
    <script src="@Url.Content("~/Scripts/TakeRateData/init.js")?v=@Model.CurrentVersion"></script>
}

@section PageContentHeader
{
    <form>
    <input id="Page_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>
    <div id="collapseExample" class="collapse row">
        <div class="col-lg-12 inverse">

            <div class="col-lg-5 inverse" style="padding-top: 20px">
                <div class="panel panel-primary" style="height:160px;background-color: rgba(18, 7, 59, 0.75);">
                    <div class="panel-body" style="background:none !important">
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="~/Content/Images/Icons/edit64.png" style="margin-top:15px" />
                            </div>
                            <div class="col-lg-10">
                                <h3 style="margin-top:5px">Take Rate Data</h3>
                                <h5 id="lblVehicleDescription">@RenderSelectedVehicle()</h5>

                                <div id="lblPageDescription" class="subscribers-notifyPageChanged">
                                <p class="page-description">View and edit take rate data for the selected OXO document</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 pull-right" style="padding-top: 20px">
                <div class="panel panel-primary" style="margin-bottom: 0px; height:160px">
                    <div class="panel-heading" style="padding:3px 15px"><div class="panel-title">Key</div></div>
                    <div class="panel-body" >

                        <div>

                            <ul class="list-group" style="margin-bottom:10px">
                                <li class="list-group-item standardFeature">Standard Feature</li>
                                <li class="list-group-item optionalFeature">Optional Feature</li>
                                <li class="list-group-item packFeature">Package Feature</li>
                                <li class="list-group-item nonApplicableFeature">Not available</li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 pull-right" style="padding-top: 20px; ">
                <div class="panel panel-primary" style="margin-bottom: 0px; height:160px">
                    <div class="panel-heading" style="padding:3px 15px"><div class="panel-title">Volume Mix</div></div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label for="txtVolume" class="col-sm-8 control-label">Total Volume (All Markets):</label>
                                <div class="col-sm-4 form-control-static">
                                    @Model.Volume.VolumeData.TotalVolume.ToString("N0")
                                </div>
                            </div>
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label class="col-sm-8 control-label">Filtered Volume (Selected Markets):</label>
                                <div class="col-sm-4 form-control-static">
                                    @Model.Volume.VolumeData.FilteredVolume.ToString("N0")
                                </div>
                            </div>
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label class="col-sm-8 control-label">% of Total Volume:</label>
                                <div class="col-sm-4 form-control-static">
                                    @Model.Volume.VolumeData.PercentageOfTotalVolume.ToString("P0")
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
}

@section PageBody
{
    <div id="notifier" class="subscribers-notifySuccess subscribers-notifyError subscribers-notifyVehicle subscribers-notifyUpdated subscribers-notifyBeforePageChanged subscribers-notifyValidation col-lg-12" style="float:unset"></div>

    @Html.Partial("_Modal", Model)

    <form method="post" id="frmContent" action="@Url.Action("VolumePage")" class="form-group-sm subscribers-notifyPageChanged">

        @Html.Partial("_TakeRateData")
 
    </form>
}

@helper RenderSelectedVehicle()
{
    if (!(Model.Volume.Document is EmptyOxoDocument)) {
        @Model.Volume.Document.Name
    }
    else if (!(Model.Volume.Vehicle is EmptyVehicle))
    {
        @Model.Volume.Vehicle.FullDescription
    }
}



