@using FeatureDemandPlanning.BusinessObjects
@using enums = FeatureDemandPlanning.Enumerations

@model FeatureDemandPlanning.Models.FdpOxoVolumeViewModel

@section PageScripts
{
    <script src="@Url.Content("~/Scripts/Shared/namespace.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/contextmenu.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/modal.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/cookie.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/pager.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Shared/vehicle.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Volume/volume.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Volume/volumepage.js")?v=@Model.CurrentVersion"></script>

    <!-- TO DO put these in the bundle -->
    <script src="@Url.Content("~/Scripts/Editor/oxo-editor-fbm.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Editor/oxo-editor-core.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Editor/oxo-model-filter.js")?v=@Model.CurrentVersion"></script>
    <script src="@Url.Content("~/Scripts/Editor/oxo-change-log.js")?v=@Model.CurrentVersion"></script>

    <script type="text/javascript">

        var volume, vehicle, pager, page, modal;
        var params = {
            PageUri: "@Url.Action("VolumePage")",
            FilterVehiclesUri: "@Url.Action("FilterVehicles", "Vehicle")",
            AvailableDocumentsUri: "@Url.Action("OxoDocuments")",
            AvailableImportsUri: "@Url.Action("AvailableImports")",
            EditVolumeUri: "@Url.Action("EditVolume")",
            SaveVolumeUri: "@Url.Action("SaveVolume")",
            ValidateUri: "@Url.Action("Validate")",
            ValidationMessageUri: "@Url.Action("ValidationMessage")",
            ModalDialogId: "modal",
            ModalContentId: "modalBody",
            Configuration: {},
            OXOVehicle: {},
            PageSize: @Model.PageSize,
            PageIndex: @Model.PageIndex,
            CookieKey: "@Model.CookieKey"
        };

        params.Configuration = @Html.Raw(Json.Encode(Model.Configuration));
        params.Vehicle = @Html.Raw(Json.Encode(Model.Volume.Vehicle));
        @if (Model.Volume.Document != null)
        {
            @:params.OxoDocId = @Model.Volume.Document.Id;
        }
    </script>
    <script src="@Url.Content("~/Scripts/Volume/init.js")?v=@Model.CurrentVersion"></script>
}

@section PageContentHeader
{
    <div class="row">
        <div class="col-lg-12 inverse">
            <div class="col-lg-5 pull-left">
                <p style="height:18px" id="lblPageDescription" class="subscribers-notifyPageChanged">
                    <div class="page-description" data-index="0" style="@RenderPageIndexVisibility(0)">Choose a carline, model year and gateway to view / edit volume data for:</div>
                    <div class="page-description" data-index="1" style="@RenderPageIndexVisibility(1)">Choose the imported take rate data to apply:</div>
                    <div class="page-description" data-index="2" style="@RenderPageIndexVisibility(2)">Choose the OXO document(s) to apply the take rate data to:</div>
                    <div class="page-description" data-index="3" style="@RenderPageIndexVisibility(3)">Confirm the chosen action for the selected document:</div>
                    <div class="page-description" data-index="4" style="@RenderPageIndexVisibility(4)">View and edit volume data for the selected document:</div>
                </p>
                <h3 id="lblVehicleDescription" class="subscribers-notifyVehicle">@RenderSelectedVehicle()</h3>
            </div>
            <div class="col-lg-2 pull-right" style="padding-top: 20px">
                <div class="panel panel-primary" style="margin-bottom: 0px">
                    <div class="panel-heading" style="padding:3px 15px"><div class="panel-title" style="font-size:14px">Key</div></div>
                    <div class="panel-body" style="padding-bottom:0px">

                        <div>

                            <ul class="list-group" style="margin-bottom:10px">
                                <li class="list-group-item standardFeature">Standard Feature</li>
                                <li class="list-group-item optionalFeature">Optional Feature</li>
                                <li class="list-group-item packFeature">Package Feature</li>
                                <li class="list-group-item nonApplicableFeature">Not available</li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 pull-right" style="padding-top: 20px">
                <div class="panel panel-primary" style="margin-bottom: 0px">
                    <div class="panel-heading" style="padding:3px 15px"><div class="panel-title" style="font-size:14px">Volume Mix</div></div>
                    <div class="panel-body" style="padding:5px">
                        <form class="form-horizontal">
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label for="txtVolume" class="col-sm-6 control-label">Total Volume (All Markets):</label>
                                <div class="col-sm-5 input-group input-group-sm">
                                    <input type="text" id="txtVolume" class="form-control" value="@Model.Volume.VolumeData.TotalVolume">
                                    <span class="input-group-btn">
                                    <button type="button" id="btnUpdateVolume" class="btn btn-sm btn-default">Update</button>
                                        </span>
                                </div>
                            </div>
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label class="col-sm-6 control-label">Filtered Volume (Selected Markets):</label>
                                <div class="col-sm-6 form-control-static">
                                    @Model.Volume.VolumeData.FilteredVolume.ToString("G")
                                </div>
                            </div>
                            <div class="form-group form-group-sm" style="margin-bottom:5px">
                                <label class="col-sm-6 control-label">% of Total Volume:</label>
                                <div class="col-sm-6 form-control-static">
                                    @Model.Volume.VolumeData.PercentageOfTotalVolume.ToString("P2")
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
}

@section PageBody
{
    <div id="notifier" class="subscribers-notifySuccess subscribers-notifyError subscribers-notifyVehicle subscribers-notifyUpdated subscribers-notifyBeforePageChanged subscribers-notifyValidation col-lg-12" style="float:unset"></div>

    @Html.Partial("_Modal", Model)

    <form method="post" id="frmContent" action="@Url.Action("VolumePage")" class="form-group-sm subscribers-notifyPageChanged">

        @{
            switch (Model.PageIndex)
            {
                case 0:
                    @Html.Partial("_Vehicle", Model);
                    break;
                case 1:
                    @Html.Partial("_ImportedData");
                    break;
                case 2:
                    @Html.Partial("_OXODocuments");
                    break;
                case 3:
                    @Html.Partial("_Confirm");
                    break;
                case 4:
                    @Html.Partial("_VolumeData");
                    break;

            }
        }

    </form>

    @Html.Partial("_Pager", Model)
    @Html.Partial("_VolumePages", Model)
}

@helper RenderPageIndexVisibility(int pageIndex)
{
    if (pageIndex == Model.PageIndex)
    {
        @:display:block    
    }
    else
    {
        @:display:none
    }
}

@helper RenderSelectedVehicle()
{
    if (!(Model.Volume.Document is EmptyOxoDocument)) {
        @Model.Volume.Document.Name
    }
    else if (!(Model.Volume.Vehicle is EmptyVehicle))
    {
        @Model.Volume.Vehicle.FullDescription
    }
}



