@using FeatureDemandPlanning.Model.Extensions

@model FeatureDemandPlanning.Model.ViewModel.TrimViewModel

<form>
    <input id="Action_IdentifierPrefix" type="hidden" value="@Model.IdentifierPrefix" />
</form>
<div class="well col-xs-12">
    <div class="col-xs-4 text-right">
        <strong>Trim:</strong>
    </div>
    <div class="col-xs-8">
        @Model.Trim.Name
    </div>
    <div class="col-xs-4 text-right">
        <strong>Programme:</strong>
    </div>
    <div class="col-xs-8">
        @Model.Trim.Programme.GetDisplayString()
    </div>
    <div class="col-xs-4 text-right">
        <strong>Gateway:</strong>
    </div>
    <div class="col-xs-8">
        @Model.Trim.Programme.Gateway
    </div>
    <div class="col-xs-4 text-right">
        <strong>Level:</strong>
    </div>
    <div class="col-xs-8">
        @Model.Trim.Level
    </div>
 </div>
