<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Feature Demand Planning</title>

    @Styles.Render("~/bundles/css/dataTables")
    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/site/css")

    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("PageStyles", false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                    <h1 class="navbar-brand metal linear">
                        <a href="@Url.Action("Index", "Home")">
                            F.D.P
                        </a>
                    </h1>
                
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Import"><span class="glyphicon glyphicon-import"></span> Import</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-file"></span> Reports</a></li>
                    <li>
                        <a href=" #">
                            <span class="glyphicon glyphicon-cog"></span> Settings
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    @*<div class="form-group">
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>*@
                </form>
                <div class ="nav navbar-nav navbar-right" style="position:relative;width:230px;height:60px;">
                    <img class="navbar-right" src="~/Content/Images/Brand/jag_logo_transparent.png" style="position:absolute;left:0;bottom:0;"/>
                    <img class="navbar-right" src="~/Content/Images/Brand/lr_logo_v2_transparent.png" style="position:absolute;left:108px;bottom:0;"/>
                </div>
            </div>
        </div>
    </nav>

    @*<div id="carouselOverlay" class="carousel-overlay">
        <div class="carousel-overlay-child"></div>
    </div>

    <img class="banner" src="~/Content/Images/Carousel/multiple.png" />*@
    
    <div class="container body-content-header">
        @RenderSection("PageContentHeader", false)
    </div>     

    <div id="body" class="container body-content-header">
        @RenderSection("PageBody", true)
    </div>

    <div id="footer">
        @RenderSection("PageFooter", false)
    </div>
    
    @Scripts.Render("~/bundles/shared")
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/jqueryform")*@

    <script src="~/Content/jquery/js/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Extensions/Jeditable/jquery.jeditable.mini.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.tipsy.js"></script>
    <script src="~/Scripts/jquery.simplePager.js"></script>
    <script src="~/Scripts/jquery.smartmenu.js"></script>
    <script src="~/Scripts/jquery.mouseWheel.js"></script>
    <script src="~/Scripts/jqueryFileTree.js"></script>
    <script src="~/Extensions/jquery.nivo.slider/jquery.nivo.slider.js"></script>

            @Scripts.Render("~/bundles/js/dataTables")
            @Scripts.Render("~/bundles/js/bootstrap")
            @*<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,fc-3.1.0,fh-3.0.0,r-1.0.7,sc-1.3.0/datatables.js"></script>*@
            @*<script src="@Url.Content("~/Scripts/Shared/oxo-master.js")?v=@SharedModelBase.CurrentVersion"></script>*@
            @RenderSection("PageScripts", required: false)
</body>
</html>
