@model FeatureDemandPlanning.Model.SharedModelBase
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (!string.IsNullOrEmpty(@ViewBag.Title))
    {
        <title>FDD - @ViewBag.Title</title>
    }
    else
    {
        <title>FDD</title>
    }

    @Styles.Render("~/bundles/css/dataTables")
    @Styles.Render("~/bundles/css")

    @RenderSection("PageStyles", false)

    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico?v=3")" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "Home")">
                    <div class="navbar-brand metal linear">
                        <div style="margin-top:-3px">F.D.D</div>
                        <p>Powered by RADS</p>
                    </div>
                </a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="@Url.Action("Index", "Admin")">
                            <span class="glyphicon glyphicon-cog"></span> Settings
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("MyAccount", "User")">
                            <span class="glyphicon glyphicon-user"></span> @Model.CurrentUser.FullName
                        </a>
                    </li>
                </ul>
                <div class="pull-left breadcrumb">
                    @Html.MvcSiteMap().SiteMapPath()
                </div>

                <div class="nav navbar-nav navbar-right" style="position:relative;width:230px;height:60px;">
                    <img class="navbar-right" src="~/Content/Images/Brand/jag_logo_transparent.png" style="position:absolute;left:0;bottom:0;" />
                    <img class="navbar-right" src="~/Content/Images/Brand/lr_logo_v2_transparent.png" style="position:absolute;left:108px;bottom:0;" />
                </div>
            </div>
        </div>
    </nav>

    <div id="carouselOverlay" class="carousel-overlay">
        <div class="carousel-overlay-child"></div>
    </div>

    <img class="banner hidden-xs" src="~/Content/Images/Carousel/multiple.png" />

    <div class="container body-content-header">
        @RenderSection("PageContentHeader", false)
    </div>

    <div id="body" class="container body-content-header">
        @RenderSection("PageBody", true)
    </div>

<div id="footer">
    @RenderSection("PageFooter", false)
</div>

    @Scripts.Render("~/bundles/js/jquery");
    @Scripts.Render("~/bundles/js/dataTables")
    @Scripts.Render("~/bundles/js/bootstrap")
    @RenderSection("PageScripts", required: false)
</body>
</html>
