<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Feature Demand Planning</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("PageStyles", false)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                    <h1 class="navbar-brand metal linear">
                        <a href="@Url.Action("Index", "Home")">
                            F.D.P
                        </a>
                    </h1>
                
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-import"></span> Import</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-file"></span> Reports</a></li>
                    <li>
                        <a href=" #">
                            <span class="glyphicon glyphicon-cog"></span> Settings
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                <div class ="nav navbar-nav navbar-right" style="position:relative;width:230px;height:60px;">
                    <img class="navbar-right" src="~/Content/Images/Brand/jag_logo_transparent.png" style="position:absolute;left:0;bottom:0;"/>
                    <img class="navbar-right" src="~/Content/Images/Brand/lr_logo_v2_transparent.png" style="position:absolute;left:108px;bottom:0;"/>
                </div>
            </div>
        </div>
    </nav>

    <div id="carouselOverlay" class="carousel-overlay">
        <div class="carousel-overlay-child"></div>
    </div>

    <img class="banner" src="~/Content/Images/Carousel/multiple.png" />
    
    <div class="container body-content-header">
        @RenderSection("PageContentHeader", false)
    </div>     

    <div class="container body-content">
        @RenderSection("PageBody", true)
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery.dataTables")
    @RenderSection("PageScripts", required: false)
</body>
</html>
