@{
    var currentVersion = Model.CurrentVersion;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (!string.IsNullOrEmpty(@ViewBag.Title))
    {
        <title>FDP - @ViewBag.Title</title>
    }
    else
    {
        <title>FDP</title>
    }

    @Styles.Render("~/bundles/css")

    @RenderSection("PageStyles", false)

    <link rel="icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="@Url.Action("Index", "Home")">
                    <div class="navbar-brand metal linear">
                    <div style="margin-top:-3px">F.D.P</div>
                    <p>Powered by RADS</p>
                    </div>
                </a>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>*@
                <div class="pull-left breadcrumb hidden-xs">
                    @Html.MvcSiteMap().SiteMapPath()
                </div>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="@Url.Action("Index", "Admin")">
                            <span class="glyphicon glyphicon-cog"></span> Settings
                        </a>
                    </li>
                </ul>
                <div class="nav navbar-nav navbar-right hidden-sm" style="position:relative;width:230px;height:60px;">
                    <img class="navbar-right" src="~/Content/Images/Brand/jag_logo_transparent.png" style="position:absolute;left:0;bottom:0;" />
                    <img class="navbar-right" src="~/Content/Images/Brand/lr_logo_v2_transparent.png" style="position:absolute;left:108px;bottom:0;" />
                </div>
            </div>
        </div>
    </nav>

    <div class="carousel-overlay">
        <div class="carousel-overlay-parent"></div>
    </div>

    <div class="container fill nopadding carousel-outer">
        <div id="backgroundCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <div class="fill" style="background-image:url(@Url.Content("~/Content/Images/Carousel/1.png"));">
                        <div class="container">

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url(@Url.Content("~/Content/Images/Carousel/2.png"));">
                        <div class="container">

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url(@Url.Content("~/Content/Images/Carousel/3.png"));">
                        <div class="container">

                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-center">
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>
    </div>

    @*<div id="backgroundCarousel" class="carousel slide hidden-sm" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#backgroundCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#backgroundCarousel" data-slide-to="1"></li>
            <li data-target="#backgroundCarousel" data-slide-to="2"></li>
            <li data-target="#backgroundCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide img-responsive" src="~/Content/Images/Carousel/1.png" alt="First slide">
            </div>
            <div class="item">
                <img class="second-slide img-responsive" src="~/Content/Images/Carousel/2.png" alt="Second slide">
            </div>
            <div class="item">
                <img class="third-slide img-responsive" src="~/Content/Images/Carousel/3.png" alt="Third slide">
            </div>
            <div class="item">
                <img class="fourth-slide img-responsive" src="~/Content/Images/Carousel/4.png" alt="Fourth slide">
            </div>
        </div>
        <a class="left carousel-control" href="#backgroundCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#backgroundCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@

    <div id="body" class="container body-content-header">
        <div id="viewport">
            @RenderSection("PageBody", true)
        </div>
    </div>

    <div id="footer">
        <div id="h-slider"></div>
        @RenderSection("PageFooter", false)
    </div>
    <div id="v-slider"></div>
    
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/dataTables")
    @Scripts.Render("~/bundles/js/bootstrap")
    @RenderSection("PageScripts", required: false)

    <script>
        // interval is in milliseconds. 1000 = 1 second - so 1000 * 10 = 10 seconds
        $(function () {
            $('.carousel').carousel({
                interval: 1000 * 10
            });
        });
    </script>
</body>
</html>
