@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.FdpOxoTakeRateViewModel

<div id="availableImports" class="subscribers-notifyVehicle">

    @if (Model.TakeRate.Vehicle.AvailableImports.Any())
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Available Imported Data</div>
            </div>

            <div class="panel-body">
                <table id="availableImportsTable" class="table table-condensed table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Car Line</th>
                            <th class="text-center">Model Year</th>
                            <th class="text-center">Gateway</th>
                            <th class="text-center">Imported</th>
                            <th class="text-center">By</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
        foreach (var import in Model.TakeRate.Vehicle.AvailableImports)
        {
            <tr>
                <td>@import.Vehicle.Description</td>
                <td class="text-center">@import.Vehicle.ModelYear</td>
                <td class="text-center">@import.Vehicle.Gateway</td>
                <td class="text-center">@import.CreatedOn</td>
                <td class="text-center">@import.CreatedBy</td>
                <td class="text-center">
                    @if (Model.TakeRate.FdpTakeRateHeaders.Any(h => h.FdpTakeRateHeaderId == import.FdpTakeRateHeaderId))
                    {
                        <button type="button" class="btn btn-sm btn-danger fdp-volume-header-toggle" data-target="@import.FdpTakeRateHeaderId">Unselect</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-sm btn-primary fdp-volume-header-toggle" data-target="@import.FdpTakeRateHeaderId">Select</button>
                    }
                </td>
            </tr>
        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>

<ul id="availableImportsContextMenu" class="dropdown-menu" role="menu" style="display:none">
    <li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-import"></i> View Imported Excel Data...</a></li>
</ul>
